#el1 {
    background-color: #2f313b;
    border-radius: 1rem;
    padding-top: 0rem;
    padding-bottom: .05rem;
    border: solid rgb(30, 30, 30);
    text-align: left; 
    width: 40%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    height: max-content;
}

#el4 {
    padding: 0 !important;
    margin: 0 !important;
    display: grid;
    grid-template-columns: 1fr;
    width: 100% !important;
    box-sizing: border-box;
    gap: 0px !important;
    overflow-y: hidden !important;
}
#el2 {
    display: flex;
    height: max-content;
    background-color: #703434;
    align-items: center !important;
    text-align: center;
    margin: 0px !important;
    padding: 0px !important;
    padding-right: 2% !important;
    padding-left: 8% !important;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    border-bottom: solid rgb(30, 30, 30);
}

.btn-danger {
    background-color: #642d2d!important;
    border-color: #5c2929 !important;
}

#el3{
    margin: 0px !important;
    width: 100%;
}
