body{
    background-image: none !important;
    background-color: rgb(55, 52, 52);
}
#event-settings-container {
    color: white;
    justify-content: space-between;
    background-color: #585C6E;
    display: flex;
    justify-content: center; /* Centers the form horizontally */
    padding: 5px 20px;
    border-radius: .5rem;
    border: solid rgb(45, 45, 45) 2px;
    margin: 20px;
    margin-left: 3%;
    -webkit-filter: drop-shadow(0px 5px 2px #1b1b1b);
    filter: drop-shadow(0px 4px 2px #1b1b1b);
    margin-bottom: 0px;
    margin-top: 0px;
}
#event-settings-form {
    width: 100%;
    display: flex;
    align-items: center; /* Aligns items horizontally */
    justify-content: center;
}
#radius-settings {
    display: flex;
    align-items: center; /* Aligns label, input, and select on the same line */
    margin-right: 10px; /* Adds space between the input/select and the button */
}
  
#radius-settings label {
    font-size: 18px;
    font-weight:500;
    color: white;
    margin-right: 5px; /* Adds space between the label and the input */
}
#radius, #radiusUnit {
    border: solid 0px;
    border-radius: 3px;
    margin: 0px 3px;
    font-weight:500;
    background-color: #e7ecee;
    color: rgb(54, 54, 54);
}
#radius {
    padding-left: 10px;
    max-width: 30%;
}
#radiusUnit {
    padding-left: 5px;
    font-size: 17.5px;
}

#event-settings-submit {
    border: solid 0px;
    border-radius: 3px;
    margin-left: 0%;
    background-color: #642D2D;
    color: rgb(220, 220, 220);
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-weight:500;
}
#event-settings-submit:hover{
    color: white; /* Change text color on hover */
    animation: expand .4s ease-in-out;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
#event-settings-submit:not(:hover) {
    animation: restore .4s ease-in-out;
    animation-iteration-count: 1;
    animation-fill-mode: backwards;
}
#event-settings-submit:disabled {
    background-color: #3c3c3c;
    cursor: default;
}
#event-settings-submit:disabled :hover{
    color: rgb(220, 220, 220);
    animation: none;
}
#event-settings-submit:disabled :not(:hover){
    animation: none;
}