
#ec1 {
    background-color: #de181800 !important;
    max-height: 5% !important;
    min-height: 5% !important;
    min-width: 100% !important;
    max-width: 100% !important;
    font-size: 1.5vmax;
    color: #ffffff;
    padding: 0% !important;
    margin: 0px!important;
    display: block;
    box-sizing: border-box;
}
#ec2 {
    width: 100%;
    margin: 0 !important;
    padding: 0 !important;
}

#ec3,
#ec5 {
    margin: 0 !important;
    padding: 0 !important;
}
#ec4 {
    border: solid rgb(114, 119, 119) .05rem;
    /* height: 100%; */
    margin: 0px !important;
    padding: 0px !important;
    width: 25% !important;
    object-fit: cover;
    border-bottom-left-radius: 5% !important;
    border-top-left-radius: 5% !important;
    border-top-right-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
}
#ec6 {
    margin: 0px !important;
    padding: 0px !important;
    border-top-left-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
    border: solid rgb(114, 119, 119) .05rem;
    margin-top: 0 !important;
    padding-top: 5% !important;
    background-color: #585c6e;
    min-height: 100% !important;
    /* width: 75% !important; */
}
#ec7 {
    font-weight: bold;
    font-size: 3vw;
}
