#event-settings-submit {
    border: solid 0px;
    border-radius: 3px;
    margin-left: 0%;
    background-color: #642D2D;
    color: rgb(220, 220, 220);
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-weight:500;
}
#event-settings-submit:hover{
    color: white; /* Change text color on hover */
    animation: expand .4s ease-in-out;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
#event-settings-submit:not(:hover) {
    animation: restore .4s ease-in-out;
    animation-iteration-count: 1;
    animation-fill-mode: backwards;
}
#event-settings-submit:disabled {
    background-color: #3c3c3c;
    cursor: default;
}
#event-settings-submit:disabled:hover{
    color: rgb(220, 220, 220) !important;
    animation: none;
}
#event-settings-submit:disabled:not(:hover){
    animation: none !important;
}

input#radius[type="number"],
select#radiusUnit,
select#sortObject,
select#sortOrder {
  background-color: #d7d7d7;
}


/* Hover effect for settings blocks */
#radius:hover,
#radius:focus,
#radius:active,
#radiusUnit:hover,
#radiusUnit:focus,
#radiusUnit:active,
#sortObject:hover,
#sortObject:focus,
#sortObject:active,
#sortOrder:hover,
#sortOrder:focus,
#sortOrder:active {
    background-color: #e7e7e7 !important;
    box-shadow: 0 5px 10px #0000003a ;
    transition: box-shadow 0.25s ease-in-out, background-color 0.25s ease-in-out;

}

/* Smooth transitions for form elements */
input.form-control,
select.form-select {
  transition: box-shadow 0.2s, border-color 0.2s;
}

input.form-control:focus,
select.form-select:focus {
  border-color: #642D2D;
  box-shadow: 0 0 0 0.2rem rgba(100, 45, 45, 0.25);
}