.home-container {
    background-color: #35373f;
    height: 100%;
    width: 100vw;
    color: white;
    font-family:Georgia, 'Times New Roman', Times, serif;
    padding: 3%;
    padding-top: 5%;
    justify-content: center;
    justify-items: center;
  }
  
  .home-container h1 {
    margin: 5%;
  }
  
  .home-container h1 span {
    color:rgba(255, 48, 48, 0.791);
  }
  
  .see {
    position:fixed;
    top:100px;
    margin: 50px !important;
  }
.Filler {
  height: 100vh;
  width: 100vw;
  background-color: #35373f;
}