/*---------------- LEAFLET MAP -------------------------*/
.map-container {
    display: block !important;
}

.leaflet-container {
    display: block !important;
    height: 30vh;
    width: 50%;
    border-radius: 5%;
  }
  
  .grid{
    padding: 80px 0;
    overflow-x: auto;
    color: #ababab;
    align-content: center;
    text-align: center;
    margin-top:20%;
    font-size: 4vh;
    width: 100%;
  }