.music-map-container {
    background-color: rgb(55, 52, 52);
    height: 300vh;
    width: 100vw !important;
    color: white;
    font-family:Georgia, 'Times New Roman', Times, serif;
    padding: 3%;
    padding-top: 10%;
    display: flexbox;
    justify-content: space-between;
}