.top-stats-title {
    font-size: 3rem;
    color: white;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-shadow: 0px 6px 6px rgb(0, 0, 0);
    background-clip: text;
    padding: 10px 0;
  }
  
  .bi {
    margin-right: 8px; /* Adds space between icon and text */
    color: #ce3535; /* A matching color for the icon */
  }