.user-tab-container {
    background-color: #2f313b;
    padding: 5%;
    border-radius: 1rem;
    padding-bottom: 5rem;
    display: flex;
    /* text-align: right; */
    border: solid rgb(30, 30, 30);
    /* align-items: center; */
    margin-bottom: 10px;
}

.user-tab-container img{
    position: relative;
    min-height: 35vmin;
    min-width: 35vmin;
    object-fit: cover;
    border-radius: 1rem;
    -webkit-filter: drop-shadow(0px 5px 2px #1b1b1b);
    filter: drop-shadow(-2px 6px 2px #1b1b1b);
}
.user-tab-container h1 {
    
    position: relative;
    top: 20px;
    left: 5%;
    font-size: 5vmin;
}