.user-tab-container {
    background-color: #2f313b;
    padding: 5%;
    border-radius: 1rem;
    padding-top: 0rem;
    padding-bottom: 1rem;
    display: flex;
    /* text-align: right; */
    border: solid rgb(30, 30, 30);
    /* align-items: center; */
}

.user-tab-container img{
    position: relative;
    left: 5%;
    min-height: 35vh;
    object-fit: cover;
    border-radius: 1rem;
}
.user-tab-container h1 {
    position: relative;
    top: 20px;
    left: 5%;
}