
/*---------------- Home Page -------------------------*/
.home-container {
  background-color: rgb(43, 43, 43);
  height: 100vh;
  width: 100vw;
  color: white;
  font-family:Georgia, 'Times New Roman', Times, serif;
  padding: 3%;
  padding-top: 5%;
  justify-content: center;
  justify-items: center;
}

.home-container h1 {
  margin: 5%;
}

.home-container h1 span {
  color:rgba(255, 48, 48, 0.791);
}


.see {
  margin: 100px !important;
  background-color: red !important;
}


/*---------------- Navbar -------------------------*/
.nav {
  box-sizing: border-box;
  background-color: rgb(30, 30, 30);
  position:fixed;
  top:0px;
  color: rgb(255, 255, 255);
  display: flex;
  width: 100vw;
  justify-content: space-evenly;
  align-items: stretch;
  padding: 0 1rem;
  font-family:Georgia, 'Times New Roman', Times, serif;
}

.site-title {
  font-size: 2rem;
  color: white !important;
  /* background-color: rgba(255, 48, 48, 1); */
  stroke: black;
  border-radius: 40%;
  margin-top: .35% !important;
  margin-bottom: .25% !important;
}

.nav ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  gap: 2rem;
}

.nav a {
  color: inherit;
  text-decoration: none;
  height: 100%;
  display: flex;
  align-items: center;
}

.nav button {
  margin-top: 10% !important;
  margin-bottom: 10% !important;
}

.nav a:hover{
  color: rgb(159, 241, 255);
  
}

.nav li.active {
  background-color: rgb(75, 75, 75);
}

.nav li:hover {
  /* background-color: rgb(100, 100, 100); */
}

/*---------------- LEAFLET MAP -------------------------*/
.leaflet-container {
  height: 30vh;
  width: 50vw;
  border-radius: 5%;
}

Map{
  visibility: hidden;
  height: 600px;
}